* {

/* =========================
   PRIORIDAD
========================= */

.prioridad {
  font-weight: bold;
}

.prioridad.alta {
  color: #dc2626;
}

.prioridad.media {
  color: #d97706;
}

.prioridad.baja {
  color: #16a34a;
}

/* =========================
   BOTONES
========================= */

.action-btn {
  padding: 8px 12px;

  border: none;
  border-radius: 8px;

  cursor: pointer;

  color: white;
}

.delete-btn {
  background: #dc2626;
}

.delete-btn:hover {
  background: #b91c1c;
}

/* =========================
   RESPONSIVE
========================= */

@media (max-width: 900px) {
  .layout {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }

  #buscador {
    width: 100%;
  }
}